body {
text-align: center;
text-decoration: none;
}

header{
    background-color: #f15b31;
    color: #ffffff;
    padding: 4% 3%;
    margin: 0;
    
}
nav{
    background-color: #00A6B3;
    color: #ffffff;
    padding:20px 0;
}

a{
	text-decoration: bold;
	font-family: "Raleway";
	color:#F15b31;
	letter-spacing: 1px;
	font-weight:600;
	font-size:18px;
    margin:0 20px;
    border-bottom:2px solid transparent;
}

main{
width:80%;
margin:5% auto;    
}

img{
    margin:5% 1%;
}
h1 {
font-family: "Raleway", sans-serif;
font-weight: 400;
color: #0d2c40;
letter-spacing: 1px;
font-size:45px;
    margin:0;
}
h2{
	font-family:"Raleway";
	color:#0d2c40;
	letter-spacing: 1px;
	font-weight:600;
	font-size:20px;
}
a, h1, h2 {
	text-transform: uppercase;
}
p {
font-family: "Droid Serif", serif;
line-height: 26px;
font-size: 18px;
}
footer{
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0d2c40;
    color:#ffffff;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight:500;
}
.copyright{ 
    float:left;
}
.message{
    float:right;
}
.clearfix:after{
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name{
    color:#f15b31;
    font-weight:700;
}
a:hover{
    border-bottom-color: #ffffff;
    
}